body {
    font-size: 100%;
    background-color: powderblue;
    overflow: auto;
}

img {
  vertical-align: middle;
}
select{
  vertical-align: middle;
  width:150px;
}

h1 {
    font-size: 2.3em;
    font-weight: bold;
    color: rgb(0, 137, 250);
}

h3 {
  font-size: 1.0em;
  font-weight: bold;
  color: rgb(0, 137, 250);
}

p {
  font-size: 0.8em;
  color: gray;
}

.hint {
  font-size: 0.8em;
  color: gray;
  visibility:visible;
  display:none;
}

.error {
  display: inline-block;
  font-weight: bold;
  padding: 1px 5px;
  font-size: 3.5vw;
  border: 1px solid black;
  border-radius: 15px;
  color: black;
  background-color: lightcoral;
  display:none;
}

.hintButton {
    cursor: zoom-in;
    display: inline-block;
    text-align:center;
    font-weight: bold;
    font-size: 1em;
    width: 19px;
    height: 19px;
    border: 1px solid black;
    border-radius: 15px;
    background-image: radial-gradient(white, rgb(125, 125, 255), blue);
    box-shadow: 2px 2px 10px gray;
  }

.hintButton:hover {
  box-shadow: 0px 0px 10px 2px gold;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 2px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .subtablinks,
  .tablinks {
    background-color: #f1f1f1;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px 10px;
    line-height: 30px;
    min-width: 50px;
    height: 30px;
    transition: 0.3s;
    font-size: 10px !important;
  }
  
  /* Change background color of buttons on hover */
  .tab td:hover {
    font-weight: bold;
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab td.active {
    background-color: #ccc;
    font-weight: bold;
    font-size: 12px !important;
}
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 2px solid #ccc;
    border-top: none;
  }
  
  .settings_table {
    width: 100%;
    border:0
  }

  .settings_row_name {
    width: 40%;
  }

  .settings_row_input {
    width: 60%;
  }

.device-list {
    width:100%;
    margin:0px;
    padding:0px;
    gap:100px;
}
    
.device-list img {
    float:left;
    margin:0px;
    padding:0px;
    width:25px;
    height:auto;
}
    
.device-list p,h3 {
    padding: 0;
    margin:0px;
    padding:0px;
}

.device-list input:disabled {
  margin:0px;
  padding:0px;
  filter: grayscale(100%); 
  opacity: 0.4;
}

.device-list input:enabled {
  margin:0px;
  padding:0px;
}

.imgButtonText {
  vertical-align:top;
  cursor: pointer;
  display: inline-block;
  text-align:center;
  font-weight: bold;
  font-size: 10px;
  width: 70px;
  border: 1px solid black;
  border-radius: 15px;
  background-image: radial-gradient(white, rgb(150, 255, 150), green);
}

.blockHeader {
  display: inline-block;
}

.math {
  font-size: 1.5em;
  color: gray;
  visibility:visible;
  display:none;
}
.locked { display: inline-block; }
.locked sup,
.locked sub { text-align:center; display:block; position:relative; font-size: .5em; line-height: 1.2; top: .3em; }

#futurePriceModifierHint3 {
  display: inline-block;
}


#operatingMode {
  width:120px;
}

#safetyPower,
#errorMargin,
#mainFuse,
#freeThreshold {
  width:90px;
}

#save {
  display: none;
}

#tab_selector {
  display: none;
}

#rememberToSave {
  display:none;
  color:red;
  position:fixed;
  background-color:rgba(255,255,0,0.5);
  font-weight:bold;
  right: 20px;
  padding: 2px 10px 2px 10px;

  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 8px;
  box-shadow: 2px 2px 10px gray;
}