body {
    font-size: 100%;
    background-color: powderblue;
    overflow: auto;
}

img {
  vertical-align: middle;
}
select{
  vertical-align: middle;
  width:150px;
}

h1 {
    font-size: 2.3em;
    font-weight: bold;
    color: rgb(0, 137, 250);
}

h3 {
  font-size: 1.0em;
  font-weight: bold;
  color: rgb(0, 137, 250);
}

p {
  font-size: 0.8em;
  color: gray;
}

.hint {
  font-size: 0.8em;
  color: gray;
  visibility:visible;
  display:none;
}

.error {
  display: inline-block;
  font-weight: bold;
  padding: 1px 5px;
  font-size: 3.5vw;
  border: 1px solid black;
  border-radius: 15px;
  color: black;
  background-color: lightcoral;
  display:none;
}

.hintButton {
    cursor: zoom-in;
    display: inline-block;
    text-align:center;
    font-weight: bold;
    font-size: 1em;
    width: 19px;
    height: 19px;
    border: 1px solid black;
    border-radius: 15px;
    color: black;
    background-image: radial-gradient(white, rgb(125, 125, 255), blue);
    box-shadow: 2px 2px 10px gray;
  }

.hintButton:hover {
  box-shadow: 0px 0px 10px 2px gold;
}

/* Style the tab */
.tab {
    overflow: hidden;
    padding-bottom: 0em;
    border-collapse: separate;
    border-spacing: 0em;
  }
  
  /* Style the buttons that are used to open the tab content */
  .subtablinks,
  .tablinks {
    background-color: rgb(80,99,107);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
    color: #EEE;
    font-weight: bold;
    border: 1px solid rgb(40, 59, 57);
    cursor: pointer;
    padding: 0px 10px;
    line-height: 30px;
    min-width: 20px;
    height: 30px;
    transition: 0.3s;
    font-size: 10px !important;
  }
  
/* Change background color of buttons on hover */
  .subtablinks:hover,
  .tablinks:hover {
    font-weight: bold;
    background-color: rgb(70, 122, 118);
  }

  /* Create an active/current tablink class */
  .tab td.active {
    background-color: rgb(70, 122, 118);
    font-weight: bold;
    font-size: 12px !important;
}
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
  }
  
  .settings_table {
    width: 100%;
    border:0;
  }

  .settings_row_name {
    width: 40%;
  }

  .settings_row_en {
    text-align: center;
  }

  .settings_row_input {
    width: 60%;
  }

.device-list {
    width:100%;
    margin:0px;
    padding:0px;
    gap:100px;
}
    
.device-list img {
    float:left;
    margin:0px;
    padding:0px;
    width:25px;
    height:auto;
}
    
.device-list p,h3 {
    padding: 0;
    margin:0px;
    padding:0px;
}

.device-list input:disabled {
  margin:0px;
  padding:0px;
  filter: grayscale(100%); 
  opacity: 0.4;
}

.device-list input:enabled {
  margin:0px;
  padding:0px;
}

.imgButtonText {
  vertical-align:top;
  cursor: pointer;
  display: inline-block;
  text-align:center;
  font-weight: bold;
  font-size: 10px;
  width: 70px;
  border: 1px solid black;
  border-radius: 15px;
  background-image: radial-gradient(white, rgb(150, 255, 150), green);
}

.imgButtonDisabled {
  opacity: 0.4;
  pointer-events: none;
  background-image: radial-gradient(lightgray, gray, lightgray)!important;
  cursor: auto;
}

.blockHeader {
  display: inline-block;
}

.math {
  font-size: 1.5em;
  color: gray;
  visibility:visible;
  display:none;
}
.locked { display: inline-block; }
.locked sup,
.locked sub { text-align:center; display:block; position:relative; font-size: .5em; line-height: 1.2; top: .3em; }

#futurePriceModifierHint3 {
  display: inline-block;
}


#operatingMode {
  width:120px;
}

.inputElem,
#maxPowerDay,
#maxPowerMonth,
#overrideStart,
#overrideStop,
#overridePause,
#overrideMinCurrent,
#overrideMaxCurrent,
#meterReader,
#meterFrequency,
#toggleTime,
#gridLimit,
#gridCost,
#safetyPower,
#crossHourSmooth,
#errorMargin,
#mainFuse,
#expireDaily,
#expireHourly,
#freeThreshold {
  width:90px;
}

#rememberToSave {
  display:none;
  color:red;
  position:fixed;
  background-color:rgba(255,255,0,0.5);
  font-weight:bold;
  right: 20px;
  padding: 2px 10px 2px 10px;

  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 8px;
  box-shadow: 2px 2px 10px gray;
}

#loadingText {
  padding: 20px 10px;
  text-align: center;
}

#sponsoredByText {
  padding: 5px 10px;
  text-align: center;
}

#sponsorText {
  color:red;
  margin:auto;
  text-align: center;
  background-color:rgba(255,255,128,0.5);
  font-weight:bold;
  padding: 100px 10px;
  width: 80%;

  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 8px;
  box-shadow: 2px 2px 10px gray;
}

/* Menu styling */
.menu {
  background-color: rgba(56,68,77,0.8);
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  cursor: pointer;
  border-collapse: collapse;
  border: 0px solid black;
  z-index: 1;
}

.menuitem .dropdown{
/*  float: left;
  margin: 0px;
  padding: 0px;*/
}

.menuitem a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.advancedMenuWizhover,
.menuitem td:hover/*, .dropdown:hover .dropbtn*/ {
  background-color: rgb(70, 122, 118);
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.priceLinkWizhover,
.dropdown-content a:hover {background-color: #c1c1c1;}

.advancedMenuDropWizhover,
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-content.active {
  display: none;
}


.⚠ {
  position: relative; /* So we can position the content as absolute */
  /* Using the borders to create a triangle  */
  border-left: 0.80em solid transparent;
  border-right: 0.85em solid transparent;
  top: -1em;          /* Correction because of the CSS Triangle trick*/
  vertical-align: text-top;
}
.err {
  border-bottom: 1.35em solid red;
}
.warn {
  border-bottom: 1.35em solid yellow;
}
.info {
  border-bottom: 1.35em solid cornflowerblue;
}
.⚠::before {
  content: "⚠";
  /* Position the character over the triangle */
  top: 0.47em;
  left: -0.47em;
  position: absolute;
  color: black;
  font-size: 2em;
  line-height: 1em;
}

/* --- Collapsible --- */
input.toggle[type='checkbox'] { display: none; }

.wrap-collabsible { margin: 1.2rem 0; }

.lbl-toggle { margin-top: 10px; display: block; font-weight: bold; font-family: monospace; font-size: 1.2rem; text-transform: uppercase; text-align: center; padding: 0.3rem; color: #EEE; background: rgb(80,99,107); cursor: pointer; border-radius: 7px; transition: all 0.25s ease-out; }

.lbl-toggle:hover { color: #FFF; }

.lbl-toggle::before { content: ' '; display: inline-block; border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-left: 5px solid currentColor; vertical-align: middle; margin-right: .7rem; transform: translateY(-2px); transition: transform .2s ease-out; }

.toggle:checked + .lbl-toggle::before { transform: rotate(90deg) translateX(-3px); }

.collapsible-content { max-height: 0px; overflow: hidden; transition: max-height .25s ease-in-out; }

.toggle:checked + .lbl-toggle + .collapsible-content { max-height: 600px; }

.toggle:checked + .lbl-toggle { border-bottom-right-radius: 0; border-bottom-left-radius: 0; }

.collapsible-content
.content-inner { background: #a0d0d6; border-bottom: 1px solid #90c0c6; border-bottom-left-radius: 7px; border-bottom-right-radius: 7px; padding: .5rem 1rem; }

.collapsible-content p { margin-bottom: 0; }


/* --- Edit icon --- */
.edit.icon {
  cursor: zoom-in;
  display: inline-block;
  position: relative;
  color: black;
  background-color: palegoldenrod;
  width: 16px;
  height: 16px;
  margin: 1px 1px 1px 1px;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
  transform: translate(0px, 3px);
  z-index: 0;
}

.edit.icon::before {
  content: '';
  color: black;
  background-color: orange;
  position: absolute;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  border: solid 1px currentColor;
  transform: translate(2px,5px) rotate(-45deg);
  box-shadow: -2px 2px 2px gray;
}

.edit.icon::after {
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  border-left: solid 5px transparent;
  border-right: solid 5px currentColor;
  border-top: solid 2px transparent;
  border-bottom: solid 2px transparent;
  transform: translate(-4px,13px) rotate(-45deg);
}

.edit.icon:hover {
  box-shadow: 0px 0px 10px 2px gold;
}

#priceActionList {
  display:block;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}

@keyframes flash {
  0%, 50%, 100% {
     opacity: 1;
  }
  25%, 75% {
     opacity: 0;
  }
}

.flash {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: flash;
}

.iframe-holder {
  min-width: 200px;
  height: 500px;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

.iframe-holder iframe {
  height: 100%;
  width: 100%;
}
