body {
    font-size: 100%;
    background-color: powderblue;
    overflow: auto;
}

img {
  vertical-align: middle;
}
select{
  vertical-align: middle;
  width:150px;
}

h1 {
    font-size: 2.3em;
    font-weight: bold;
    color: rgb(0, 137, 250);
}

h3 {
  font-size: 1.0em;
  font-weight: bold;
  color: rgb(0, 137, 250);
}

p {
  font-size: 0.8em;
  color: gray;
}

.hint {
  font-size: 0.8em;
  color: gray;
  visibility:visible;
  display:none;
}

.hintButton {
    cursor: zoom-in;
    display: inline-block;
    text-align:center;
    font-weight: bold;
    font-size: 4vw;
    width: 19px;
    height: 19px;
    border: 1px solid black;
    border-radius: 15px;
    background-image: radial-gradient(white, rgb(125, 125, 255), blue);
    box-shadow: 2px 2px 10px gray;
  }

.hintButton:hover {
  box-shadow: 0px 0px 10px 2px gold;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 2px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 6px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    font-weight: bold;
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
    font-weight: bold;
    font-size: 1em;
}
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 2px solid #ccc;
    border-top: none;
  }
  
  .settings_table {
    width: 100%;
    border:0
  }

  .settings_row_name {
    width: 40%;
  }

  .settings_row_input {
    width: 60%;
  }

.device-list {
    width:100%;
    margin:0px;
    padding:0px;
    gap:100px;
}
    
.device-list img {
    float:left;
    margin:0px;
    padding:0px;
}
    
.device-list p,h3 {
    padding: 0;
    margin:0px;
    padding:0px;
}

.device-list input:disabled {
  margin:0px;
  padding:0px;
  filter: grayscale(100%); 
  opacity: 0.4;
}

.device-list input:enabled {
  margin:0px;
  padding:0px;
}

.imgButtonText {
  cursor: pointer;
  display: inline-block;
  text-align:center;
  font-weight: bold;
  font-size: 3vw;
  width: 100px;
  border: 1px solid black;
  border-radius: 15px;
  background-image: radial-gradient(white, rgb(150, 255, 150), green);
}